In [1]:
#Ans 1

import pandas as pd

# create a Pandas Series with the given data
data = pd.Series([4, 8, 15, 16, 23, 42])

# print the Series
data

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#Ans 2

# create a list with 10 elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# convert the list to a Pandas Series
my_series = pd.Series(my_list)

# print the series
my_series

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
#Ans 3

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male' , 'Female']}

# create a DataFrame from the dictionary
df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
#Ans 4
In Pandas, a DataFrame is a two-dimensional table-like data structure, similar to a spreadsheet or SQL table. It consists of rows and columns, where
each column can have a different data type, and each row represents a unique observation or record. A DataFrame can be created from various data 
sources, such as CSV files, Excel spreadsheets, SQL databases, or Python data structures.

On the other hand, a Pandas Series is a one-dimensional labeled array that can hold data of any type, including integer, float, string, and object. 
It can be seen as a single column of a DataFrame or a dictionary-like object that maps index labels to data values. Each element of a Series is 
assigned a label, which can be used to access individual elements of the Series.

In [4]:
# create a dictionary with some data
data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [25, 30, 35, 40],
        'city': ['New York', 'Paris', 'London', 'Tokyo']}

# create a DataFrame from the dictionary
df = pd.DataFrame(data)

# create a Series from one of the columns of the DataFrame
name_series = df['name']

In [5]:
data

{'name': ['Alice', 'Bob', 'Charlie', 'David'],
 'age': [25, 30, 35, 40],
 'city': ['New York', 'Paris', 'London', 'Tokyo']}

In [6]:
name_series

0      Alice
1        Bob
2    Charlie
3      David
Name: name, dtype: object

In [ ]:
#Ans 5
There are many built-in functions in Pandas that can be used to manipulate data in a DataFrame. Here are some common functions:

head() and tail(): These functions are used to display the first or last few rows of a DataFrame, respectively. For example:
# create a DataFrame from a CSV file
df = pd.read_csv('data.csv')

# display the first five rows of the DataFrame
print(df.head())

# display the last three rows of the DataFrame
print(df.tail(3))

2.describe(): This function provides a statistical summary of the DataFrame, including the count, mean, standard deviation, minimum, maximum, and 
quartiles of each column. For example:

# create a DataFrame from a CSV file
df = pd.read_csv('data.csv')

# display a statistical summary of the DataFrame
print(df.describe())

3. drop(): This function is used to remove a row or column from the DataFrame. For example:
    
# create a DataFrame from a CSV file
df = pd.read_csv('data.csv')

# remove a column from the DataFrame
df = df.drop('column_name', axis=1)

# remove a row from the DataFrame
df = df.drop(0)

4. sort_values(): This function is used to sort the DataFrame by one or more columns. For example:
    
# create a DataFrame from a CSV file
df = pd.read_csv('data.csv')

# sort the DataFrame by the 'column_name' column in descending order
df = df.sort_values('column_name', ascending=False)

5. groupby(): This function is used to group the DataFrame by one or more columns and perform some operation on each group. For example:
    
    # create a DataFrame from a CSV file
df = pd.read_csv('data.csv')

# group the DataFrame by the 'column_name' column and calculate the mean of each group
df = df.groupby('column_name').mean()

In [ ]:
#Ans 6
Series and DataFrame are mutable in nature, while Panel is immutable.

In Pandas, a mutable object can be changed after it has been created, while an immutable object cannot be changed after it has been created.

Series and DataFrame can be modified by adding, deleting, or updating their elements. On the other hand, Panel is a 3D data structure and it is 
considered immutable because it does not support inplace modifications. Instead, Panel returns a new object when any changes are made to it.

In [ ]:
#Ans 7

To create a DataFrame using multiple Series, you can use the pd.concat() function. This function concatenates two or more Series or DataFrames along 
a particular axis.

Here is an example of creating a DataFrame using two Series:

In [7]:
# create the first Series
s1 = pd.Series([1, 2, 3, 4, 5], name='col1')

# create the second Series
s2 = pd.Series(['a', 'b', 'c', 'd', 'e'], name='col2')

# concatenate the two Series along the columns axis to create a DataFrame
df = pd.concat([s1, s2], axis=1)

# display the DataFrame
print(df)

   col1 col2
0     1    a
1     2    b
2     3    c
3     4    d
4     5    e

In [ ]:
In this example, we first created two separate Series s1 and s2, and then concatenated them along the columns axis using pd.concat(). We passed both 
Series to pd.concat() as a list, and set the axis parameter to 1 to indicate that we wanted to concatenate along the columns axis. Finally, we assigned
the resulting DataFrame to the variable df and printed it using the print() function.